:root {
  --body-margin: .5em;
  --label-width-2c: 16em;
  --gap-width: 1em;
  --input-width-2c: 30em;
  --grid-width-2c: calc(var(--label-width-2c) + var(--gap-width) + var(--input-width-2c));
  --full-width-2c: calc(var(--grid-width-2c) + 2 * var(--body-margin));
  --grid-width: min(100%, var(--grid-width-2c));
  --stat-border: 1px solid #888;
}

body {
  margin: var(--body-margin);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

p {
  width: var(--grid-width);
}

#inputs {
  display: grid;
  grid-template-columns: var(--label-width-2c) var(--input-width-2c);
  /* variables are not supported in media queries: */
  @media (width < 48em /* var(--full-width-2c) */) {
    grid-template-columns: 100%;
  }
  gap: 1em;
  > * {
    align-self: self-start;
  }
}

textarea {
  height: 4lh;
}

#prefix, #letters {
  background: #eef;
}

button {
  margin: 0.5em 0.3em 0 0;
}

#out {
  display: block;
  width: var(--grid-width);
  background: #eef;
  white-space: pre-wrap;
}

#stat {
  margin: 0;
  border: var(--stat-border);
  max-width: 100%;
  overflow-x: auto;
  display: inline-grid;
  grid-auto-flow: column;
  grid-template-rows: auto auto;
  grid-auto-columns: min-content;
  > * {
    margin: 0;
    border: var(--stat-border);
    padding: 0 .5em;
    text-align: center;
    font-weight: bolder;
  }
  > dt.seen, > .seen + dd {
    font-weight: lighter;
    background-color: #8884;
  }
}
