:root {
  --body-margin: .5em;
  --label-width-2c: 16em;
  --gap-width: 1em;
  --input-width-2c: 30em;
  --grid-width-2c: calc(var(--label-width-2c) + var(--gap-width) + var(--input-width-2c));
  --full-width-2c: calc(var(--grid-width-2c) + 2 * var(--body-margin));
  --grid-width: min(100%, var(--grid-width-2c));
  --stat-border: 1px solid #888;
}

body {
  margin: var(--body-margin);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  max-width: var(--grid-width);
}

details {
  margin: 1ex 0;
  summary {
    display: inline;
    border-radius: 3px;
    padding: 0 3px 0 1px;
    text-decoration: underline;
    color: #00f;
    cursor: pointer;
    &:hover {
      background-color: #00f2;
    }
  }
  &:not([open]) > summary{
    &::before {
      content: "⯆ ";
    }
    &::after {
      content: "...";
    }
  }
  &[open] {
    border: 1px solid #888;
    padding: 5px;
    background-color: #eef;
    > summary::before {
      content: "🗙 ";
    }
  }
}

input, textarea {
  /* Without this border rule, the border width differs between elements
   * without and with a background color, at least on Firefox 145.0. */
  border-width: 1px;
}

.input-grid {
  display: grid;
  grid-template-columns: var(--label-width-2c) var(--input-width-2c);
  /* variables are not supported in media queries: */
  @media (width < 48em /* var(--full-width-2c) */) {
    grid-template-columns: 100%;
  }
  gap: 1em;
  > * {
    align-self: self-start;
  }
}

textarea {
  height: 4lh;
}

#prefix, #letters {
  background: #eef;
}

.buttons {
  margin: 5px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  > span {
    display: contents;
  }
}

#out {
  display: block;
  padding: 5px;
  background: #eef;
  white-space: pre-wrap;
}

#poll {
  max-width: 100%;
  overflow-x: auto;
  display: grid;
  grid-template-columns: 12em auto 10em;
  align-items: baseline;
  column-gap: .5em;
  > button[disabled] {
    color: #f00;
  }
}

#poll-alphabets {
  margin-top: 1em;
  max-width: 100%;
  overflow-x: auto;
  padding-bottom: 5px; /* keep overlay scrollbar away */
  display: inline-grid;
  grid-template-columns: auto repeat(30, auto);
  font-family: monospace;
  text-align: center;
  input {
    width: 1.2em;
    margin-right: .5em;
  }
  [data-status="hit"] {
    background-color: #0f08;
  }
  [data-status="fail"] {
    background-color: #ff08;
  }
  [data-status="seen"] {
    background-color: #f008;
  }
  > .poll-alphabet-head {
    margin-bottom: .5em;
    font-size: 130%;
  }
  > button {
    cursor: pointer;
    font-family: monospace;
    border: 1px solid transparent;
    &[data-selected] {
      border-color: black;
    }
    &[data-selected="bad"] {
      border-color: #f00;
    }
    &[disabled] {
      background-color: #eee;
      cursor: default;
    }
  }
}

.letter-input {
  margin-left: 2px; /* space for the focus-indicating outline */
  text-align: center;
}

.poll-out {
  min-width: 8rem;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  font-family: monospace;
  font-size: 130%;
  line-height: 130%;
  > span {
    border: 2px solid #0000;
    border-radius: 3px;
    &.clickable {
      cursor: pointer;
      &:hover {
        border-color: black;
      }
    }
  }
}

#poll-problems {
  color: #f00;
}

#stat {
  margin: 0;
  border: var(--stat-border);
  max-width: 100%;
  overflow-x: auto;
  display: inline-grid;
  grid-auto-flow: column;
  grid-template-rows: auto auto;
  grid-auto-columns: min-content;
  > * {
    margin: 0;
    border: var(--stat-border);
    padding: 0 .5em;
    text-align: center;
    font-weight: bolder;
    background-color: #0f08;
  }
  > dt.seen, > .seen + dd {
    font-weight: lighter;
    background-color: #f008;
  }
}