:root {
  --body-margin: .5em;
  --label-width-2c: 16em;
  --gap-width: 1em;
  --input-width-2c: 30em;
  --grid-width-2c: calc(var(--label-width-2c) + var(--gap-width) + var(--input-width-2c));
  --full-width-2c: calc(var(--grid-width-2c) + 2 * var(--body-margin));
  --grid-width: min(100%, var(--grid-width-2c));

  --tooltip-appear-delay: .75s;
  --tooltip-appear-duration: .25s;
  --tooltip-disappear-delay: 0s;
  --tooltip-disappear-duration: .25s;
}

body {
  margin: var(--body-margin);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  max-width: var(--grid-width);
}

summary + p {
  margin-top: 5px;
}

p:last-child {
  margin-bottom: 0;
}

h1, h2, h3 {
  &:has(+ details) {
  margin-bottom: 0;
  }
}

details {
  margin: 0;
  padding: 0;
  > summary {
    display: inline;
    font-size: 130%;
    color: #00f;
    cursor: pointer;
    &::before {
      content: "🛈 ";
    }
    &:hover {
      color: #00f8;
    }
  }
  &[open] {
    margin: 1ex 0;
    border-radius: 5px;
    padding: 0 5px 5px;
    background-color: #eee;
    > summary{
      font-size: inherit;
      &::before {
        content: "🗙 ";
      }
    }
  }
}

/* Phew, "hand-made" tooltips: */
details {
  > summary {
    position: relative;
    &::after {
      position: absolute;
      bottom: 0%;
      left: 130%;
      border-radius: 3px;
      font-size: .7rlh;
      background-color: #eee;
      color: black;

      content: "Hinweise\a0 anzeigen";
      /* I would have hoped we could use this instead:
      content: "Hinweise anzeigen";
      white-space: preserve;
      */

      /* Make sure the tooltip is not only transparent but also that it does
      not use any space: */
      padding: 0;
      max-width: 0;
      overflow-x: hidden;
      opacity: 0;
      transition:
        opacity var(--tooltip-disappear-duration) var(--tooltip-disappear-delay),
        /* max-width and padding disappear immediately after opacity has faded out: */
        max-width 0s calc(var(--tooltip-disappear-duration) + var(--tooltip-disappear-delay)),
        padding 0s calc(var(--tooltip-disappear-duration) + var(--tooltip-disappear-delay));
    }
  }
  &:not([open]) > summary:hover::after {
    padding: 2px 4px 3px;
    /* Why doesn't (min|fit|max)-content work during fade-out? */
    max-width: 100vw; /* anything wide enough */
    opacity: 1;
    transition:
      opacity var(--tooltip-appear-duration) var(--tooltip-appear-delay);
      /* max-width and padding appear immediately before opacity fades in. */
  }
}

input, textarea {
  /* Without this border rule, the border width differs between elements
   * without and with a background color, at least on Firefox 145.0. */
  border-width: 1px;
  font-family: inherit;
  font-size: 85%;
}

.input-grid {
  display: grid;
  grid-template-columns: var(--label-width-2c) var(--input-width-2c);
  /* variables are not supported in media queries: */
  @media (width < 48em /* var(--full-width-2c) */) {
    grid-template-columns: 100%;
  }
  column-gap: 1em;
  row-gap: .5em;
  > * {
    align-self: self-start;
  }
}

textarea {
  height: 4lh;
}

#tags, #secret, #missing, #suffix {
  background: #eee;
}

#poll-text {
  height: 7lh; /* The HTML attribute rows="7" does not work here. */
}

.buttons {
  margin: 5px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  > span {
    display: contents;
  }
}

#poll {
  margin-top: .5em;
  max-width: 100%;
  overflow-x: auto;
  padding-bottom: 5px; /* keep overlay scrollbar away */
  display: inline-grid;
  grid-template-columns: auto repeat(30, auto);
  text-align: center;

  .letter-input {
    margin-left: 2px; /* space for the focus-indicating outline */
    margin-right: .5em;
    width: 1.2em;
    text-align: center;
  }
  > [data-status="hit"] {
    background-color: #0f08;
  }
  > [data-status="fail"] {
    background-color: #ff08;
  }
  > [data-status="chosen"] {
    background-color: #f008;
  }
  > .poll-head {
    font-family: monospace;
    font-size: 120%;
  }
  > .stat {
    font-size: 80%
  }
  > .letter-button {
    cursor: pointer;
    font-family: monospace;
    border: 1px solid transparent;
    padding: 0 4px;
    &[data-selected] {
      border-color: black;
    }
    &[disabled] {
      background-color: #eee;
      cursor: default;
    }
  }
}

.hint {
  font-size: 85%;
}

.row-status {
  font-size: 85%;
  color: #f00;
}

#poll-problems {
  font-size: 85%;
  color: #f00;
  display: block;
  margin: .5em 0;
}

.copy-button {
  justify-self: start;
}
#out, .answer-out {
  padding: 5px;
  background: #eee;
  white-space: pre-wrap;
  font-size: 85%;
}

.answer-out {
  .clickable {
    cursor: pointer;
  }
  .hit {
    background-color: #0f08;
  }
  .fail {
    background-color: #ff08;
  }
}
