:root {
  --label-width-2c: 16em;
  --gap-width: 1em;
  --input-width-2c: 30em;
  --grid-width-2c: calc(var(--label-width-2c) + var(--gap-width) + var(--input-width-2c));
  --full-width-2c: calc(var(--grid-width-2c) + 2 * var(--body-margin));
  --grid-width: min(100%, var(--grid-width-2c));

  background-color: #f8f8f8;
}

body {
  margin: .5em auto;
  padding: .5em;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  max-width: var(--grid-width);
  background-color: white;
}

summary + p {
  margin-top: 5px;
}

p:last-child {
  margin-bottom: 0;
}

*:has(+ details) {
  margin-bottom: 0;
}

details + * {
  margin-top: 0;
}

details {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  > summary {
    align-self: flex-end;
    display: inline;
    font-size: 100%;
    color: #00f;
    border: 2 px solid #00f;
    cursor: pointer;
    &::before {
      content: "[?]"; /* "🛈" not widely available */
    }
    &:hover {
      color: #00f8;
    }
  }
  &[open] {
    margin: 1ex 0;
    border-radius: 5px;
    padding: 0 5px 5px;
    background-color: #eee;
    > summary{
      font-size: 130%;
      &::before {
        content: "×"; /* "🗙" not widely available */
      }
    }
  }
}

input, textarea {
  /* Without this border rule, the border width differs between elements
   * without and with a background color, at least on Firefox 145.0. */
  border-width: 1px;
  padding: 4px;
  font-family: inherit;
  font-size: 85%;
}

.letter-input {
  min-width: 1.5em;
  min-height: 1.2lh;
  /* not just &:focus since actually the input child has focus: */
  &:has(:focus) {
    outline: 3px solid #00f8;
  }
  border: 1px solid black;
  font-family: monospace;
  cursor: pointer;

  /* center letterEl */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Hide input element (even from the flex layout) */
  position: relative;
  input {
    /* Redundant ways to hide the input element.
    (Note that "display: none" or "visibility: hidden" would not work since
    these values prevent focussing.) */
    position: absolute; top: 0; left: 0;
    width: 0; height: 0;
    margin: 0;
    outline: none;
    border: none;
    padding: 0;
    opacity: 0;
    z-index: -1;
  }
}

.label-grid {
  display: grid;
  grid-template-columns: var(--label-width-2c) var(--input-width-2c);
  /* variables are not supported in media queries: */
  @media (width < 48em /* var(--full-width-2c) */) {
    grid-template-columns: 100%;
    .post-label, .answer-out-label {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      gap: .5em;
    }
  }
  .answer-out-value {
    display: flex;
    align-items: stretch;
    .answer-out {
      flex-grow: 1;
    }
    gap: .5em;
  }
  column-gap: 1em;
  row-gap: .5em;
  > * {
    align-self: self-start;
  }
}

textarea {
  height: 4lh;
}

#tags, #secret, #missing, #suffix {
  background: #eee;
}

#poll-text {
  height: 7lh; /* The HTML attribute rows="7" does not work here. */
}

.buttons {
  margin: 5px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  > span {
    display: contents;
  }
}

#poll {
  margin-top: .5em;
  max-width: 100%;
  overflow-x: auto;
  padding-bottom: 5px; /* keep overlay scrollbar away */
  display: inline-grid;
  grid-template-columns: repeat(30, auto);
  text-align: center;
  font-family: monospace;
  font-size: 150%;

  > * {
    position: relative;
    &.stat {
      font-size: 80%
    }
    &.letter-button {
      cursor: pointer;
      border: 1px solid transparent;
      padding: 0 4px;
      &.selected {
        border-color: black;
      }
    }
  }
}

.poll-head, .letter-input, .letter-button {
  background-color: #f008;
}
.hit {
  background-color: #0f08;
}
.miss {
  background-color: #f008;
}
.disabled {
  background-color: #eee;
  color: #888;
  cursor: default;
}
.chosen {
  /*
   * Positioning the "✗" this way is quite hacky.
   * Use non-pseudo elements instead?
   */
  position: relative;
  &::after {
    display: inline;
    content: "✗";
    position: absolute;
    left: 0%;
    bottom: -15%;
    font-size: 130%;
  }
  &.letter-input::after {
    left: 15%;
    bottom: 10%;
  }
}

.hint {
  font-size: 85%;
}

.row-status {
  font-size: 85%;
  color: #f00;
}

#poll-problems {
  font-size: 85%;
  color: #f00;
  display: block;
  margin: .5em 0;
}

.copy-button {
  justify-self: start;
}
#out, .answer-out {
  padding: 5px;
  background: #eee;
  white-space: pre-wrap;
  font-size: 85%;
}

.answer-out > span {
  cursor: pointer;
}

hr {
  display: block;
  border-top: 2px solid black;
  margin: 5px 0;
}

#toot-wrapper {
  height: 70vh;
  overflow-y: auto;

  #toots {
    width: auto;
    max-width: none;
    display: grid;
    grid-template-columns: auto;
    gap: .5em;

    .toot {
      width: auto;
      min-width: auto;
      max-width: none;
      border: 1px solid black;
      border-radius: 4px;
      padding: 4px;
    }

    /* variables are not supported in media queries: */
    @media (width >= 48em /* var(--full-width-2c) */) {
      grid-template-columns: auto auto;
      .toot {
        &:nth-child(even) {
          position: relative;
          top: 3em;
        }
      }
      padding-bottom: 3.01em;
    }
  }
}
